
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
 nav{
  background: #2c3e50;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

}
.container{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;

}
h4{
  font-size: 2em;
}

#title{
  font-size: 30px;
}
#options{
  font-size: 16px;
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}
li:hover{
    color:#18bc9c;
}
li:active{
  background:#000000;
}
.sectionbox{
  margin-top: 110px;
  font-family: 'Lato', sans-serif;
}

.section{
  padding-bottom:20px;
  padding-top: 0;
}
#mainsection{
  background: #18bc9c;
  line-height: 1.5;
  color: #fff;
}
.text{
  width: 400px;

}
h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  margin: 5px;
}
h3{
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

li star::before{
  content: " ";
  width: 70px;
  height: 5px;
  background: #000000;
  display: inline-block;
}
.icon-star-full::after{
  content: " ";
  width: 70px;
  height: 5px;
  background: #000000;
  display: inline-block;
}
.images{
  width: 960px;
  height: 478;
}
img{
  width: 250px;
  height: 200px;
  margin: 20px;
}
#about{
  background: #18bc9c;
}
button{
 background-color:gray;
 padding: 10px 10px;
 color: #fff;
 border-radius: 5px;
 border: 0;
 font-weight: 600;

}
label{
  visibility: hidden;
}
footer{
  font-family: 'Lato', sans-serif;
  width: 1007px;
  height: 252px;
  padding: 50px;
  background: #2c3e50;
}
.footerbox{
  display: inline-block;
  width: 290px;
  height: 202px;
  padding: 15px;
}
.iconbox{
  margin: 5px;
  width: auto;
  height: auto;
}
.icon{
  text-decoration: none;
  color: #fff;
  /*border: 1px solid white;*/
  font-size: 35px;
}
